.citiesRightSection {
  background-image: url("public/img/no-places.png");
  background-size: auto 119%;
  background-repeat: no-repeat;
  background-position: right 100%;
  display: flex;
  flex-grow: 1;
}

@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .citiesRightSection {
    background-image: url("public/img/no-places@2x.png");
  }
}

@media (max-height: 780px) {
  .citiesRightSection {
    background-position: right center;
    background-size: 100% auto;
  }
}

@media (min-height: 980px) {
  .citiesRightSection {
    background-size: auto 119%;
  }
}
